@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #F3F5FC;
}

.header {
  margin-top: 40px;
  display: flex;
}


.container {
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 65% 23%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2%;
    
  }

  .panel-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 3%;
  }

  .panel-left-item label {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
    border-radius: 0.5rem;
  }

  .panel-left-bottom {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
  }

  .panel-left-bottom-info {
    font-size: 12px;
    color: #495057;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
  }

  #icon {
    width: 12px;
    padding-top: rem;
    height: auto;
  }

  .panel-left-bottom-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #btn-encrypt {
    background-color: #0A3871;
    color: white;
    display: block;
  }

  #btn-encrypt:hover {
    background-color: white;
    color: #0A3871;
    border: 1px solid #0A3871;
}

  #btn-desencrypt {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
  }

  #btn-desencrypt:hover {
    background-color: #0A3871;
    color: #D8DFE8;
}

  button {
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-size: 13px;
    height: 3rem;
    width: 15rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .panel-right {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

  .panel-right-item {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  #newWord {
    transition: background-color 0.3s, color 0.3s;
    height: auto;
  }

  #emptyInbox {
    width: auto;
    height: 40%;
  }

  textarea {
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 90%;
  outline: none;
  transition: background 0.5s;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  border-radius: 100px;
  overflow-y: hidden;
  resize: none;
  padding-top: 1rem;
  background-color: transparent;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
}

.panel-right-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #f2fcfe, #7882ac); 
  border-radius: 1rem;
}

.panel-right-messages > * {
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #F3F5FC;
}

.panel-right-messages > p {
  cursor: pointer;
  font-size: 0.8rem;
}

