@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-primario: #0A3871;
  --color-secundario: #F3F5FC;
  --color-terciario: #D8DFE8;

  --fuente-inter: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--fuente-inter);
  background-color: var(--color-secundario);
}

.header {
  margin-top: 40px;
  display: flex;
}


.container {
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 65% 23%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2%;
    
  }

  .panel-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 3%;
  }

  .panel-left-item label {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
    border-radius: 0.5rem;
  }

  .panel-left-bottom {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
  }

  .panel-left-bottom-info {
    font-size: 12px;
    color: #495057;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
  }

  #icon {
    width: 12px;
    padding-top: rem;
    height: auto;
  }

  .panel-left-bottom-btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #btn-encrypt {
    background-color: var(--color-primario);
    color: white;
    display: block;
  }

  #btn-encrypt:hover {
    background-color: white;
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

  #btn-desencrypt {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
  }

  #btn-desencrypt:hover {
    background-color: var(--color-primario);
    color: var(--color-terciario);
}

  button {
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-size: 13px;
    height: 3rem;
    width: 15rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .panel-right {
    background-color: white;
    border-radius: 0.5rem;
    border: 0.3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

  .panel-right-item {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  #newWord {
    transition: background-color 0.3s, color 0.3s;
    height: auto;
  }

  #emptyInbox {
    width: auto;
    height: 40%;
  }

  textarea {
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 90%;
  outline: none;
  transition: background 0.5s;
  font-family: var(--fuente-inter);
  font-size: 18px;
  border-radius: 100px;
  overflow-y: hidden;
  resize: none;
  padding-top: 1rem;
  background-color: transparent;
}

textarea::placeholder {
  font-family: var(--fuente-inter);
}

.panel-right-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #F2FCFE, #7882AC); 
  border-radius: 1rem;
}

.panel-right-messages > * {
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: var(--color-secundario);
}

.panel-right-messages > p {
  cursor: pointer;
  font-size: 0.8rem;
}

/*Resposive*/

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  #emptyInbox {
    display: none;
  }

  .panel-left {
    padding: 0;
  }

  .panel-left-item {
    margin-top: 8%;
  }

  .panel-left-bottom {
    margin-top: 85%;
  }

  .panel-right {
    padding: 1rem;
  }

  button {
    width: 18rem;
  }
  
}

@media (max-width: 650px) {

  .header {
    margin-top: 8%;
  }

  .container{
    justify-content: start;
    padding: 0px;
    gap: 2rem;
  }

  .panel-left{
    margin-top: 3rem;
    justify-content: center;
  }

  .panel-left-item {
    margin-left: 2rem;
  }

  .panel-left-bottom-btns {
    flex-direction: column;
  }
}